.Time {
    display: block;
    font-size: x-large;
    color: #c00;
    text-align: center
}

.btnLogin {
	border-radius: 15px;
	background: #a1d8f0;
	background: -webkit-gradient(linear, left top, left bottom, from(#badff3),
		to(#7acbed));
	-ms-filter:
		"progid:DXImageTransform.Microsoft.gradient(startColorStr='#badff3', EndColorStr='#7acbed')";
	border: 1px solid #7db0cc !important;
	cursor: pointer;
	padding: 11px 16px;
	font: bold 11px/14px Verdana, Tahomma, Geneva;
	text-shadow: rgba(0, 0, 0, 0.2) 0 1px 0px;
	color: #fff;
	-moz-box-shadow: inset rgba(255, 255, 255, 0.6) 0 1px 1px,
		rgba(0, 0, 0, 0.1) 0 1px 1px;
	-webkit-box-shadow: inset rgba(255, 255, 255, 0.6) 0 1px 1px,
		rgba(0, 0, 0, 0.1) 0 1px 1px;
	box-shadow: inset rgba(255, 255, 255, 0.6) 0 1px 1px, rgba(0, 0, 0, 0.1)
		0 1px 1px;
	margin-left: 12px;
/*	float: left;*/
	padding: 7px 21px;
        
}

.box {
    text-align: center;
}

.redColor {color: red;}
.tg  {border-collapse:collapse;border-spacing:0;border-color:#ccc;}
.tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:#ccc;color:#333;background-color:#fff;}
.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:#ccc;color:#333;background-color:#f0f0f0;}
.tg .tg-4eph{background-color:#f9f9f9}
.form .input-group {display:block; margin-bottom: 5px}
.form .input-group label {margin-right: 0; width: 75px; display: inline-block; color: #3333ff}
.form .submit {margin-top: 10px}
.fieldset {border: none}
.createUser {margin-bottom: 20px; display: inline-block}
.footerButton {text-align: right}
.createUserRef {margin-top: 50px}