.redColor {color: red;}
html {height: 100%;}
body {display: flex; justify-content: center; align-items: center; height: 100%;}
/*.main {}*/
.tg  {border-collapse:collapse;border-spacing:0;border-color:#ccc;}
.tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:#ccc;color:#333;background-color:#fff;}
.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:#ccc;color:#333;background-color:#f0f0f0;}
.tg .tg-4eph{background-color:#f9f9f9}
.form .input-group {display:block; margin-bottom: 5px}
.form .input-group label {margin-right: 0; width: 75px; display: inline-block; color: #3333ff}
.form .submit {margin-top: 10px}
.fieldset {border: none}
.createUser {margin-bottom: 20px; display: inline-block}
.footerButton {text-align: right}