.button {
    background-color: #b3b3b3;
    color: #383536;
    font-weight: bold;
    padding: 1px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 20px;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    cursor: pointer;
    transition-duration: 0.4s;
}

.button:hover {
    background-color: gray;
}

.button_wide {
    margin-top: 50px;
    width: 100%;
}

.button_back {
    margin-top: 40px;
}

.button_delete {
    color: red;
}
