/target/
/nbproject/
nb-configuration.xml
/target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
*.gz
*.patch
logs/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
/build/
# Gradle specific
.gradle/
**/build/

# Gradle cache files
.gradle/buildOutputCleanup/
.gradle/**/checksums/
.gradle/**/executionHistory/
.gradle/**/fileHashes/
.gradle/**/fileChanges/
.gradle/**/dependencies-accessors/

# System files
.gradle/file-system.probe

# Garbage collection properties
**/*.gc.properties

# Cache and lock files
**/*.lock
**/*.bin
**/*.cache
