<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<title th:text="#{${title}}"></title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link th:href="@{../assets/css/main.css}" rel="stylesheet" type="text/css">
<link rel="icon" type="image/x-icon" th:href="@{../assets/img/favicon.ico}">
<div class="box-header">
  <div class="text-align-right">
    <a class="button-language" href="?lang=en">
      <img class="button-language__image" th:src="@{../assets/img/flag-en.png}">
    </a>
    <a class="button-language" href="?lang=ru">
      <img class="button-language__image" th:src="@{../assets/img/flag-ru.png}">
    </a>
  </div>
</div>