<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<div class="form__input-group">
    <label class="form__label" th:for="username" th:text="#{user.name} + ':'"></label>
    <input class="form__text" type="text" th:id="username" th:name="name" th:value="${user?.name}" autocomplete="off"/>
    <div>
        <div class="form__error" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
    </div>
</div>
<th:block th:insert="fragments/user-password"/>
