<!DOCTYPE>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<th:block th:insert="fragments/header(title='currencies')"/>
<h1 class="box-header__title" th:text="#{currencies.header}"/>
<a class="button" th:href="@{../currencies/new}" th:text="#{currencies.new}"/>
<div class="table">
    <div class="table__heading">
        <div class="table__row">
            <div class="table__cell table__cell_head">#</div>
            <div class="table__cell table__cell_head">ID</div>
            <div class="table__cell table__cell_head" th:text="#{code}"/>
            <div class="table__cell table__cell_head" th:text="#{description}"/>
            <div class="table__cell table__cell_head" th:text="#{rate}"/>
            <div class="table__cell table__cell_head" th:text="#{details}"/>
            <div class="table__cell table__cell_head" th:text="#{delete}"/>
        </div>
    </div>
    <div class="table__body">
        <th:block th:each="currency, iterator : ${currencies}">
            <div class="table__row">
                <div class="table__cell" th:text="${iterator.index}"/>
                <div class="table__cell" th:text="${currency.id}"/>
                <div class="table__cell" th:text="${currency.code}"/>
                <div class="table__cell" th:text="${currency.name}"/>
                <div class="table__cell"></div>
                <div class="table__cell">
                    <a class="button" th:href="@{../currencies/} + ${currency.id}" th:text="#{details}"/>
                </div>
                <div class="table__cell">
                    <form class="form" th:action="@{../currencies/} + ${currency.id}" th:method="delete">
                        <input th:onclick="return confirm('[[#{delete.confirmation}]]');"
                               class="button button_delete" type="submit" th:value="#{delete}"/>
                    </form>
                </div>
            </div>
        </th:block>
    </div>
</div>
<a class="button button_back" href="/" th:text="#{back}"/>
<th:block th:insert="fragments/footer"/>
</html>